*{
  padding: 0px;
  margin: 0px;
}

nav{
  background-color: var(--cor01);
  margin: auto;
  font-size: 1.8em;
  padding: 15px;
}

.container-fluid{
  justify-content: space-around;
}

.navbar-brand{
  color: white;
  font-size: 1.5em;
}

.navbar-nav{
  gap: 50px;
}

.nav-item {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-bottom: 10px;
}

.nav-item > a{
  color: white;
}



.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 10px;
  background-color: var(--cor02);
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}
