.home-container{
  margin-top: 100px;
  min-height: 80vh;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.intro{
  padding: 20px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.intro > h2{
  font-size: 2.3em;
  margin-top: 30px;
}

.intro-image{
  background: url('../../images/home.png') no-repeat;
  background-size: cover;
  min-height: 500px;
  min-width: 500px;
}

.introduce-title{
  margin-bottom: 60px;
}

.introduce > h1{
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}

.introduce-container{
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 60px;
}

.brief{
  padding: 20px;
  text-align: center;
}

.brief > p{
  font-size: 1.3em;
  text-align: left;
  width: 600px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.border-loop{
  border-radius: 50%;
  background: linear-gradient(to right , var(--cor01), var(--cor03), var(--cor02));
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduce-image{
  background: url('../../images/foto-perfil.png') no-repeat;
  background-size: cover;
  min-height: 300px;
  min-width: 300px;
  border-radius: 50%;
  object-fit: cover;

  align-self: center;
}

.follow-container{
  padding-bottom: 60px;
}

.follow{
  text-align: center;
}

.follow > h1{
  font-weight: bold;
  padding-bottom: 10px;
}

.follow > p{
  font-size: 1.3em;
  padding-bottom: 20px;
}

.social-links > a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s;
}

.icon {
  fill: white;
  width: 40px;
  height: 40px;
}

a:hover > .icon {
  fill: var(--cor02);
  transform: scale(1.1);
}

strong{
  color: var(--cor02);
}

@keyframes gradient-animation {
  0% {
    background-position: 0& 50%;
  }
  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}
